.stayuptodate_container {
    margin-top: 5rem;
    padding: 3rem 1.5rem;
    background: $soft-blue;
    text-align: center;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;

    p {
        letter-spacing: .2rem;
        text-transform: uppercase;
        font-size: .8rem;
        font-weight: 500;
    }

    h2 {
        font-size: 1.75rem;
        font-weight: 500;
    }

    form {
        width: 100%;
        margin-top: 1rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: .5rem;

        .email {
            box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
            padding: .75rem;
            border-radius: .25rem;
            border: none;
            width: 210px;

            &::placeholder {
                font-family: Rubik;
                color: $grayish-blue;
            }
        }

        .email_container {
            border-radius: .25rem;
            position: relative;
            padding: .25rem;
            width: 220px;
            height: 4.5rem;
            z-index: 1;

            .icon_error {
                position: absolute;
                right: .75rem;
                top: .85rem;
                display: none;
            }

            span {
                position: absolute;
                left: .25rem;
                bottom: .25rem;
                font-size: .7rem;
                font-style: italic;
                font-weight: 500;
            }
        }

        .submit_container {
            height: 4rem;
        }

        .submit {
            box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
            cursor: pointer;
            padding: .65rem;
            border-radius: .25rem;
            // border: 2px solid $soft-red;
            border: 2px solid #B40808;
            // background: $soft-red;
            background: #B40808;
            color: #fff;
            font-weight: 500;
            font-family: inherit;
            width: 210px;
            height: 47px;

            &:hover {
                background: #fff;
                // color: $soft-red;
                color: #B40808;
                transition: .2s;
            }
        }
    }
}

@media screen and (min-width: 1024px) {
    .stayuptodate_container {
        padding: 5rem 12rem;
        gap: 2rem;

        p {
            width: 40%;
        }

        h2 {
            width: 40%;
        }

        form {
            justify-content: center;
            flex-direction: row;

            .email {
                padding: 1rem;
            }

            .submit {
                padding: 1rem;
                width: 6.75rem;
            }

            .email_container {
                .icon_error {
                    top: 1.1rem;
                }
            }
        }
    }
}

@media screen and (min-width: 1440px) {
    .stayuptodate_container {
        h2 {
            font-size: 2.5rem;
        }
    }
}