footer {
    padding: 3rem 1.5rem;
    background: $very-dark-blue;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 2.5rem;

    nav {
        ul {
            list-style-type: none;
            display: flex;
            flex-direction: column;
            gap: 1rem;
            text-align: center;

            a {
                cursor: pointer;
                color: #fff;
                text-decoration: none;
                text-transform: uppercase;
                letter-spacing: .15rem;
                font-size: .9rem;

                &:hover {
                    color: $soft-red;
                    transition: .2s;
                }
            }

            .socials {
                margin-top: 1.5rem;
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 2rem;

                svg {
                    fill: #fff;

                    &:hover {
                        fill: $soft-red;
                        transition: .2s;
                    }
                }
            }
        }
    }
}

@media screen and (min-width: 1024px) {
    footer {
        padding: 2rem 12rem;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;

        .logo {
            margin-right: 1rem;
        }

        nav {
            flex-grow: 1;

            ul {
                flex-direction: row;
                gap: 2rem;

                .socials {
                    margin-top: 0;
                    margin-left: auto;
                    gap: 2.5rem;
                }
            }
        }
        
    }
}