@media screen and (max-width: 1023px) {
    header {
        padding: 2rem 1.5rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
    
        .hamburger {
            border: none;
            background: none;
            position: fixed;
            right: 0;
            padding: 2rem 1.5rem;
            z-index: 99;
        }
    
        nav {
            .nav-ul {
                padding: 2rem 1.5rem;
                list-style-type: none;
                position: fixed;
                left: 0;
                right: 0;
                top: 999%;
                z-index: 98;
                bottom: 0;
                width: 0;
                transition: width 3s;
                display: flex;
                flex-direction: column;
                align-items: center;
                background: rgba(37, 43, 70, 0.9);
                backdrop-filter: blur(.25rem);
    
                &.show {
                    top: 0;
                    width: 100%;
                    transition: top .6s;
                    transition: width .5s;
                }
    
                .nav_logo {
                    margin-right: auto;
                }
    
                .link {
                    width: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: center; 
                    border-top: 1px solid $grayish-blue;
                    border-bottom: 1px solid $grayish-blue;
    
                    &:nth-child(2) {
                        margin-top: 3rem;
                    }
    
                    &:nth-child(3) {
                        border: none;
                    }
    
                    &:nth-child(4) {
                        margin-bottom: 1.75rem;
                    }
    
                    &:nth-child(5) {
                        border-top: none;
                        border-bottom: none;
                    }
                }
    
                a {
                    padding: 1.25rem;
                    color: #fff;
                    text-decoration: none;
                    letter-spacing: .15rem;
    
                    &.login {
                        width: 100%;
                        display: flex;
                        justify-content: center;
                        border: 2px solid #fff;
                        border-radius: .5rem;
                        padding: .75rem;
                        font-weight: 500;
                        letter-spacing: .2rem;
                    }
                }
    
                .socials {
                    margin-top: auto;
    
                    ul {
                        list-style-type: none;
                        display: flex;
                        align-items: center;
                    }
                }
            }
        }
    }
}

@media screen and (min-width: 1024px) {
    header {
        padding: 3rem 12rem;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .hamburger {
            display: none;
        }

        nav {
            .nav-ul {
                list-style-type: none;
                display: flex;
                gap: 2.5rem;
                
                a {
                    cursor: pointer;
                    color: $very-dark-blue;
                    text-decoration: none;
                    font-size: .9rem;
                    letter-spacing: .125rem;

                    &:hover {
                        color: $soft-red;
                        transition: .2s;
                    }

                    &.login {
                        // background: $soft-red;
                        background: #B40808;
                        // border: 2px solid $soft-red;
                        border: 2px solid #B40808;
                        padding: .5rem 1.25rem;
                        color: #fff;
                        border-radius: .5rem;

                        &:hover {
                            background: transparent;
                            // color: $soft-red;
                            color: #B40808;
                            transition: .2s;
                        }
                    }
                }

                .socials, .nav_logo {
                    display: none;
                }
            }
        }
    }
}