@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500&display=swap');

$soft-blue: hsl(231, 69%, 60%);
$soft-red: hsl(0, 94%, 66%);
$grayish-blue: hsl(229, 8%, 60%);
$very-dark-blue: hsl(229, 31%, 21%);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    min-height: 100vh;
    font-size: 18px;
    font-family: Rubik, sans-serif;
}

img {
    max-width: 100%;
    height: auto;
}

@import "./header";